
# ------------------------------------------------------------------
# 1. core dependency
# ------------------------------------------------------------------
**/node_modules/
.pnpm-store/
.pnp.*

# ------------------------------------------------------------------
# 2. (Next.js, Turbo, Build)
# ------------------------------------------------------------------
**/.next/
**/out/
**/dist/
**/build/
**/.turbo/

# ------------------------------------------------------------------
# 3. cache and log
# ------------------------------------------------------------------
**/.cache/
**/*.tsbuildinfo
**/*.log
.eslintcache

# ------------------------------------------------------------------
# 4. environment
# ------------------------------------------------------------------
 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env*
.env*
.env.*
!.env.example
**/*.pem
**/*.key

# ------------------------------------------------------------------
# 5. system data
# ------------------------------------------------------------------
.DS_Store
Thumbs.db
